body {
  background: #070707;
  height: 100vh;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
}

@media (max-width: 650px) {
  .logo {
    width: 300px;
  }
}

.logo-header {
  margin: -40px 0 0 200px;
}

@media (max-width: 639px) {
  .logo-header {
    margin: -40px 0 0 55px;
  }
}

.logo-header-final {
  margin: -40px 0 0 0;
}

.logo-header img {
  height: 100px;
}

.logo-header:before {
  content: '';
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 65px;
  background: url("../img/base-logo.png") no-repeat top center;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
  50% {
    -webkit-transform: translate(-50%, -54%);
            transform: translate(-50%, -54%);
  }
  100% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
  50% {
    -webkit-transform: translate(-50%, -54%);
            transform: translate(-50%, -54%);
  }
  100% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
}

.scene-stars-speed i {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
          box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
  -webkit-animation: starsSpeed linear infinite;
          animation: starsSpeed linear infinite;
}

@-webkit-keyframes starsSpeed {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(200vh);
            transform: translateY(200vh);
  }
}

@keyframes starsSpeed {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(200vh);
            transform: translateY(200vh);
  }
}

.scene i {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
          box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
  border-radius: 50%;
  -webkit-animation: animate linear infinite;
          animation: animate linear infinite;
  z-index: 0;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.title {
  font-family: 'Jura', sans-serif;
  font-size: 128px;
  color: #fff;
}

.btns {
  position: absolute;
  bottom: 10%;
  right: 0;
  left: 0;
}

.btns a {
  border: 1.5px solid #fff;
  color: #fff;
  padding: 15px 30px;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: .5s;
  transition: .5s;
}

.btns a:hover {
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
          box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
}

.btn-header {
  display: inline-block;
  padding-top: 25px;
}

.btn-header:nth-child(3) {
  float: right;
}

.btn-header:nth-child(4) {
  float: right;
}

.btn-header a {
  border: 1.5px solid #fff;
  color: #fff;
  padding: 10px 10px;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-header a:hover {
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
          box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
}

@media (max-width: 640px) {
  .btn-header a {
    padding: 5px 10px;
  }
}

.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: #070707;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

.sistema-solar {
  position: relative;
  margin: auto;
  width: 620px;
  height: 620px;
  overflow: hidden;
  padding: 50px;
}

.sol {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-shadow: 0 0 5px #ffc222, 0 0 25px #ffc222, 0 0 50px #ffc222, 0 0 100px #ffc222;
          box-shadow: 0 0 5px #ffc222, 0 0 25px #ffc222, 0 0 50px #ffc222, 0 0 100px #ffc222;
}

.sol img {
  position: absolute;
  width: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mercurio {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #acacac;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: solar 3s linear infinite;
          animation: solar 3s linear infinite;
}

.mercurio img {
  position: absolute;
  width: 18px;
  margin: auto;
  right: 0;
  left: 0;
  top: -9px;
  -webkit-transform-origin: 50% 50% 50%;
          transform-origin: 50% 50% 50%;
}

.venus {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #acacac;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: solar 6s linear infinite;
          animation: solar 6s linear infinite;
}

.venus img {
  position: absolute;
  width: 23px;
  margin: auto;
  right: 0;
  left: 0;
  top: -12px;
}

.terra {
  position: absolute;
  width: 240px;
  height: 240px;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #acacac;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: solar 9s linear infinite;
          animation: solar 9s linear infinite;
}

.terra img {
  position: absolute;
  width: 25px;
  margin: auto;
  right: 0;
  left: 0;
  top: -12px;
}

.marte {
  position: absolute;
  width: 290px;
  height: 290px;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #acacac;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: solar 12s linear infinite;
          animation: solar 12s linear infinite;
}

.marte img {
  position: absolute;
  width: 18px;
  margin: auto;
  right: 0;
  left: 0;
  top: -10px;
}

.jupiter {
  position: absolute;
  width: 370px;
  height: 370px;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #acacac;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: solar 15s linear infinite;
          animation: solar 15s linear infinite;
}

.jupiter img {
  position: absolute;
  width: 55px;
  margin: auto;
  right: 0;
  left: 0;
  top: -30px;
}

.saturno {
  position: absolute;
  width: 470px;
  height: 470px;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #acacac;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: solar 18s linear infinite;
          animation: solar 18s linear infinite;
}

.saturno img {
  position: absolute;
  width: 60px;
  margin: auto;
  right: 0;
  left: 0;
  top: -17px;
}

.urano {
  position: absolute;
  width: 550px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #acacac;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: solar 21s linear infinite;
          animation: solar 21s linear infinite;
}

.urano img {
  position: absolute;
  width: 22px;
  margin: auto;
  right: 0;
  left: 0;
  top: -20px;
}

.netuno {
  position: absolute;
  width: 620px;
  height: 620px;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #acacac;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: solar 24s linear infinite;
          animation: solar 24s linear infinite;
}

.netuno img {
  position: absolute;
  width: 25px;
  margin: auto;
  right: 0;
  left: 0;
  top: -13px;
  -webkit-animation: anti-spin 24s linear infinite;
          animation: anti-spin 24s linear infinite;
}

@-webkit-keyframes solar {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes solar {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.about-sol {
  position: absolute;
  width: 800px;
  height: 800px;
  background-color: #fff;
  border-radius: 100%;
  top: 20%;
  right: 75%;
  margin: auto;
  -webkit-box-shadow: 0 0 5px #ffc222, 0 0 25px #ffc222, 0 0 50px #ffc222, 0 0 100px #ffc222;
          box-shadow: 0 0 5px #ffc222, 0 0 25px #ffc222, 0 0 50px #ffc222, 0 0 100px #ffc222;
}

.about-mercurio {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 10%;
}

.about-venus {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 53%;
  left: 10%;
}

.about-terra {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 53%;
  left: 7%;
}

.about-marte {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 51%;
  left: 7%;
}

.about-jupiter {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 49%;
  left: 4%;
}

.about-saturno {
  position: absolute;
  width: 280px;
  top: 49%;
  left: 1%;
}

.about-urano {
  position: absolute;
  width: 90px;
  top: 43%;
  left: 8%;
}

.about-netuno {
  position: absolute;
  width: 80px;
  top: 43%;
  left: 7%;
}

.cards {
  top: 40%;
  padding: 0 15% 0 15% !important;
  font-family: 'Jura', sans-serif;
}

@media (max-width: 1750px) {
  .cards {
    padding: 0 3% 0 3% !important;
  }
}

.cards .card {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2px;
  background-color: rgba(243, 243, 243, 0.897);
  height: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
}

.cards .card p {
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
}

.cards .card-info {
  background-color: #27272783;
  color: #fff;
}

.cards .card-info p {
  padding-bottom: 10px;
}

.cards h3 {
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  -webkit-transform: translateZ(60px);
          transform: translateZ(60px);
}

@media (max-width: 1750px) {
  .cards h3 {
    font-size: 3em;
  }
}

@media (max-width: 1150px) {
  .cards h3 {
    font-size: 2em;
  }
}

.cards h3.composicao {
  font-size: 3em;
}

@media (max-width: 1230px) {
  .cards h3.composicao {
    font-size: 2em;
  }
}

.asteroides div {
  position: absolute;
  display: block;
}

.asteroides div:nth-child(1) {
  right: -20%;
  -webkit-animation: animateAsteroide 10s linear infinite;
          animation: animateAsteroide 10s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.asteroides div:nth-child(1) img {
  height: 50px;
}

.asteroides div:nth-child(2) {
  right: -20%;
  -webkit-animation: animateAsteroide 15s linear infinite;
          animation: animateAsteroide 15s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.asteroides div:nth-child(2) img {
  height: 100px;
}

.asteroides div:nth-child(3) {
  right: -20%;
  -webkit-animation: animateAsteroide 12s linear infinite;
          animation: animateAsteroide 12s linear infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.asteroides div:nth-child(3) img {
  height: 55px;
}

.asteroides div:nth-child(4) {
  right: -20%;
  -webkit-animation: animateAsteroide 15s linear infinite;
          animation: animateAsteroide 15s linear infinite;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.asteroides div:nth-child(4) img {
  height: 100px;
}

.asteroides div:nth-child(5) {
  right: -20%;
  -webkit-animation: animateAsteroide 10s linear infinite;
          animation: animateAsteroide 10s linear infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.asteroides div:nth-child(5) img {
  height: 45px;
}

.asteroides div:nth-child(6) {
  right: -20%;
  -webkit-animation: animateAsteroide 12s linear infinite;
          animation: animateAsteroide 12s linear infinite;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.asteroides div:nth-child(6) img {
  height: 63px;
}

.asteroides div:nth-child(7) {
  right: -20%;
  -webkit-animation: animateAsteroide 13s linear infinite;
          animation: animateAsteroide 13s linear infinite;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.asteroides div:nth-child(7) img {
  height: 55px;
}

@-webkit-keyframes animateAsteroide {
  0% {
    top: 20px;
    right: -20%;
    -webkit-transform: translateX(-100px) rotate(0deg);
            transform: translateX(-100px) rotate(0deg);
  }
  20% {
    -webkit-transform: translateX(-100px) rotate(110deg);
            transform: translateX(-100px) rotate(110deg);
  }
  40% {
    -webkit-transform: translateX(-100px) rotate(220deg);
            transform: translateX(-100px) rotate(220deg);
  }
  60% {
    -webkit-transform: translateX(-100px) rotate(330deg);
            transform: translateX(-100px) rotate(330deg);
  }
  80% {
    -webkit-transform: translateX(-100px) rotate(440deg);
            transform: translateX(-100px) rotate(440deg);
  }
  100% {
    top: 80%;
    right: 110%;
    -webkit-transform: translateX(-100px) rotate(550deg);
            transform: translateX(-100px) rotate(550deg);
  }
}

@keyframes animateAsteroide {
  0% {
    top: 20px;
    right: -20%;
    -webkit-transform: translateX(-100px) rotate(0deg);
            transform: translateX(-100px) rotate(0deg);
  }
  20% {
    -webkit-transform: translateX(-100px) rotate(110deg);
            transform: translateX(-100px) rotate(110deg);
  }
  40% {
    -webkit-transform: translateX(-100px) rotate(220deg);
            transform: translateX(-100px) rotate(220deg);
  }
  60% {
    -webkit-transform: translateX(-100px) rotate(330deg);
            transform: translateX(-100px) rotate(330deg);
  }
  80% {
    -webkit-transform: translateX(-100px) rotate(440deg);
            transform: translateX(-100px) rotate(440deg);
  }
  100% {
    top: 80%;
    right: 110%;
    -webkit-transform: translateX(-100px) rotate(550deg);
            transform: translateX(-100px) rotate(550deg);
  }
}

.asteroides-2 div {
  position: absolute;
  display: block;
}

.asteroides-2 div:nth-child(1) {
  right: -20%;
  -webkit-animation: animateAsteroide2 11s linear infinite;
          animation: animateAsteroide2 11s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.asteroides-2 div:nth-child(1) img {
  height: 70px;
}

.asteroides-2 div:nth-child(2) {
  right: -20%;
  -webkit-animation: animateAsteroide2 15s linear infinite;
          animation: animateAsteroide2 15s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.asteroides-2 div:nth-child(2) img {
  height: 130px;
}

.asteroides-2 div:nth-child(3) {
  right: -20%;
  -webkit-animation: animateAsteroide2 12s linear infinite;
          animation: animateAsteroide2 12s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.asteroides-2 div:nth-child(3) img {
  height: 75px;
}

.asteroides-2 div:nth-child(4) {
  right: -20%;
  -webkit-animation: animateAsteroide2 16s linear infinite;
          animation: animateAsteroide2 16s linear infinite;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.asteroides-2 div:nth-child(4) img {
  height: 100px;
}

.asteroides-2 div:nth-child(5) {
  right: -20%;
  -webkit-animation: animateAsteroide2 10s linear infinite;
          animation: animateAsteroide2 10s linear infinite;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.asteroides-2 div:nth-child(5) img {
  height: 45px;
}

.asteroides-2 div:nth-child(6) {
  right: -20%;
  -webkit-animation: animateAsteroide2 9s linear infinite;
          animation: animateAsteroide2 9s linear infinite;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.asteroides-2 div:nth-child(6) img {
  height: 63px;
}

.asteroides-2 div:nth-child(7) {
  right: -20%;
  -webkit-animation: animateAsteroide2 18s linear infinite;
          animation: animateAsteroide2 18s linear infinite;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.asteroides-2 div:nth-child(7) img {
  height: 100px;
}

@-webkit-keyframes animateAsteroide2 {
  0% {
    top: 30%;
    right: -20%;
    -webkit-transform: translateX(-100px) rotate(0deg);
            transform: translateX(-100px) rotate(0deg);
  }
  20% {
    -webkit-transform: translateX(-100px) rotate(60deg);
            transform: translateX(-100px) rotate(60deg);
  }
  40% {
    -webkit-transform: translateX(-100px) rotate(120deg);
            transform: translateX(-100px) rotate(120deg);
  }
  60% {
    -webkit-transform: translateX(-100px) rotate(180deg);
            transform: translateX(-100px) rotate(180deg);
  }
  80% {
    -webkit-transform: translateX(-100px) rotate(240deg);
            transform: translateX(-100px) rotate(240deg);
  }
  100% {
    top: 70%;
    right: 110%;
    -webkit-transform: translateX(-100px) rotate(300deg);
            transform: translateX(-100px) rotate(300deg);
  }
}

@keyframes animateAsteroide2 {
  0% {
    top: 30%;
    right: -20%;
    -webkit-transform: translateX(-100px) rotate(0deg);
            transform: translateX(-100px) rotate(0deg);
  }
  20% {
    -webkit-transform: translateX(-100px) rotate(60deg);
            transform: translateX(-100px) rotate(60deg);
  }
  40% {
    -webkit-transform: translateX(-100px) rotate(120deg);
            transform: translateX(-100px) rotate(120deg);
  }
  60% {
    -webkit-transform: translateX(-100px) rotate(180deg);
            transform: translateX(-100px) rotate(180deg);
  }
  80% {
    -webkit-transform: translateX(-100px) rotate(240deg);
            transform: translateX(-100px) rotate(240deg);
  }
  100% {
    top: 70%;
    right: 110%;
    -webkit-transform: translateX(-100px) rotate(300deg);
            transform: translateX(-100px) rotate(300deg);
  }
}
/*# sourceMappingURL=style.css.map */